/* Global rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  margin-inline: auto;
  padding-inline: 15px;
}

@media (min-width: 567px) {
  .container {
    width: 550px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}

body {
  background-color: #333;
}

/* Global rules */

/* Landing */
.landing-title {
  color: rgb(255 255 255 / 0.8);
  text-align: center;
  margin-top: 30px;
  font-size: 3rem;
}

.landing-title + .description {
  color: rgb(255 255 255 / 0.8);
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.6;
  font-size: 1.2rem;
  text-align: center;
}

.description + .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

@media (max-width: 567px) {
  .description + .btns {
    flex-direction: column;
  }
  .description + .btns a:first-child {
    margin-bottom: 30px;
  }
}

.description + .btns a {
  color: white;
  background-color: #2c8f2c;
  padding: 10px 20px;
  min-width: 222.84px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.description + .btns a::after {
  content: "";
  position: absolute;
  width: calc(100% + 20px);
  height: 100px;
  background-color: white;
  left: 100%;
  top: -10px;
  transform: rotate(50deg);
  transition: left 0.5s, top 0.5s, opacity 0s 0.5s;
}

.description + .btns a:hover::after {
  left: -100%;
  top: 20px;
  opacity: 0;
}

/* Landing */
/*pokemon page*/
.form {
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
  position: relative;
}
.form input {
  height: 40px;
  border-radius: 10px;
  padding: 5px;
}
.fa-search {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
}
.cart {
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  width: 450px;
  padding: 15px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
/*end pokemon page*/
